@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";

:root {
  --blue: #939eaf;
  --dark: #645654;
  --lightBlue: #cfd0d2;
  --rose: #f2bbb4;
  --white: #f4efed;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: inherit;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Nav Bar */

.navbar {
  position: relative;
}

.scrolled {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

.navbar_main {
  margin-bottom: 2px;
  height: 12vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.hamb-icon {
  display: none;
}

.fa-shopping-bag {
  font-size: 21px;
  cursor: pointer;
  pointer-events: none;
}

.toggle-nav_login {
  cursor: pointer;
}

.navbar nav {
  box-shadow: 0 1px 10px 1px rgb(138 138 138 / 21%);
  width: 99vw;
  height: 7em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.navbar hr {
  background: black;
  width: 100%;
  position: relative;
  bottom: 5px;
}

.navbar p {
  font-size: 0.7em;
  font-weight: 600;
  margin: 0 0 0px;
  position: relative;
  bottom: 3px;
}

.navbar-list {
  position: relative;
  display: inline-flex;
  width: 28em;
  justify-content: space-between;
  bottom: 2px;
}

.navbar-item {
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 0.8em;
  color: rgb(86 94 142);
  position: relative;
}

.navbar-item:after {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: rgb(64 56 105);
  height: 1.5px;
}

.navbar-item:hover {
  color: rgb(64 56 105);
}

.navbar-item, 
.navbar-item:after,
.navbar-item:before {
  transition: all .5s;
}

.navbar-item:hover:after {
  width: 100%;
}

.nav-header_title {
  color: #292929;
  font-family: 'Abril Fatface';
  font-size: 2.5em;
  letter-spacing: 0.8px;
  cursor: pointer;
}

.nav-header_search {
  width: 121px;
}

.nav-header {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav-content {
  width: 115px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-content span {
  font-family: 'Noto Sans JP';
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0px;
}

.nav-content span:hover {
  color: rgb(119, 116, 116);
}

.fa-search {
  font-size: 21px;
  transition: all .4s ease;
  cursor: pointer;
}

.fa-search:hover {
  color:  rgb(0 0 0 / 43%);
}

.search-bar {
  display: flex;
  align-items: center;
  width: 19%;
  height: 96%;
}

.search-bar span {
  position: absolute;
  font-family: 'Noto Sans JP';
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0px;
  left: 9%;
}

.search-bar input {
  border: 0;
  background: rgb(207 208 210 / 45%);
  width: 100%;
  height: 75%;
  padding: 0 0px 0 46px;
}

.icon-arrow {
  margin: 0 10px 0 0
}

.inactive {
  display: none;
}

.dropdown {
  height: 27vh;
  padding: 19px;
  z-index: 2;
  position: absolute;
  right: -5%;
  overflow: hidden;
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dropdown h3 {
  font-size: 0.8em;
  color: rgb(41 41 41 / 86%);
  padding: 0 0 12px 0;
}

.menu-item {
  font-size: 0.8em;
  color: rgb(0 0 0 / 62%);
  padding: 0 0 6px 0;
  transition: color 0.1s ease-in;
}

.menu-item:hover {
  color: rgb(0 0 0)
}

.login {
  justify-content: space-between;
  padding: 21px;
  box-shadow: 1px 1px 4px 2px rgb(138 138 138 / 21%);
  background: #fff;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  height: 44vh;
  width: 19vw;
  top: 98px;
}

.login h3 {
  font-size: 0.8em;
  font-weight: 400;
  cursor: pointer;
}

.login hr {
  position: relative;
    top: -1px;
}

.login input {
  width: 86%;
  height: 34px;
  padding: 1px 12px;
  margin: -11px;
  background: none;
  border: 0;
  border-bottom: 1px solid #00000078;
  position: relative;
  left: 11px;
}

.entre {
  font-family: 'Noto Sans JP';
  width: 99%;
  border: 0;
  background: rgb(86 94 111);;
  height: 5vh;
  font-weight: 400;
  color: rgb(255 255 255);
  cursor: pointer;
  font-size: 0.8em;
}

.crie {
  margin: 0px 0;
  font-family: 'Noto Sans JP';
  width: 94%;
  border: 1px solid #00000040;
  background: none;
  height: 5vh;
  font-weight: 300;
  cursor: pointer;
  font-size: 0.7em;
}

.cart {
  padding: 21px 40px;
  right: 1px;
  box-shadow: 1px 1px 4px 2px rgb(138 138 138 / 21%);
  background: #fff;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  width: 406px;
  top: 98px;
}

/* Floating Cart */

.cart-ctn img {
  object-fit: cover;
  height: 127px;
  width: 107px;
}

.cart-ctn_products {
  height: 420px;
  overflow-y: auto;
}

.main-cart {
  height: 22vh;
}

.main-cart .cart-product {
  width: 364px;
  height: 130px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.cart-product div:nth-of-type(1){
  width: 163px;
  height: 107px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cart-product .quantity {
  height: 5vh;
  justify-content: space-between;
  display: flex;
  width: 7vw;
  align-items: center;
}

.cart-product .quantity span {
  font-size: 23px;
  font-weight: 300;
}

.cart-product .quantity input{
  font-family: 'Noto Sans JP';
  outline: none;
  border: 0;
  cursor: initial;
  font-size: 14px;
  border-bottom: 0.01em solid;
  width: 3vw;
  text-align: center;
}

.cart-product div:nth-of-type(3){
  font-size: 13px;
}

.cart-product div:nth-of-type(1) p:nth-of-type(1) {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.cart-product div:nth-of-type(1) p:nth-of-type(5) {
  cursor: pointer;
  letter-spacing: 1px;
  transition: color .4s ease;
  width: 6vw;
}

.cart-product div:nth-of-type(1) p:nth-of-type(5):hover {
  color: #645654;
}

.cart-product div:nth-of-type(1) p:nth-of-type(4):active {
  color: #2e2d2c;
  font-weight: 600;
}

.cart-product div:nth-of-type(1) p {
  font-weight: 400;
}

.cart-ctn .total-price {
  margin-top: 15px;
  align-items: center;
  display: flex;
  border-bottom: 0.01em solid #0003;
  border-top: 0.01em solid #0003;
  height: 6vh;
  justify-content: space-between;
}

.cart-ctn .total-price span{
  font-size: 14px;
  cursor: initial;
}

.cart-ctn .total-price span:hover{
  color: initial;
}

.cart-ctn .checkout {
  display: flex;
  height: 12vh;
  justify-content: space-between;
  align-items: center;
}

.cart-ctn .checkout a:nth-of-type(1) button{
  border: 2px solid rgb(86 94 111);
  background: none;
  color: rgb(86 94 111);
  transition: all .3s ease;
}

.cart-ctn .checkout a:nth-of-type(1) button:hover {
  color: white;
  background-color: rgb(86 94 111);
}

.cart-ctn .checkout button {
  color: white;
  height: 6vh;
  width: 14vw;
  border: 0;
  cursor: pointer;
  background: rgb(86 94 111);
  font-weight: 600;
  letter-spacing: 0.1px;
}

/* Cart Page  */

.cart-pg_ctn {
  justify-content: space-evenly;
  display: flex;
  width: 99vw;
  margin: 19vh 0;
}

.cart-pg_header {
  width: 57%;
}

.cart-pg_header h3 {
  font-weight: 400;
  font-size: 28px;
  margin: 0 0 10vh;
}

.cart-pg_details {
  border-bottom: 0.01em solid #00000040;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0 16px;
  margin: 0 0 31px;
}

.cart-pg_details span, 
.cart-pg_side div:nth-of-type(1) span {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.cart-pg_details span:nth-of-type(2) {
  position: relative;
  left: 21%;
}

.cart-pg_side {
  display: flex;
  width: 30%;
  margin: 15.7vh 0 0;
  flex-direction: column;
  height: 44vh;
}

.cart-pg_side button {
  border: none;
  height: 45px;
  letter-spacing: 0.4px;
  font-size: 14px;
  cursor:  pointer;
  transition: all .4s ease-in-out;
  font-weight: 600;
}

.cart-pg_side button:nth-of-type(1) {
  position: relative;
  background: rgb(86 94 111);
  color: white;
  top: 45px;
}

.cart-pg_side button:nth-of-type(1):hover {
  border: 2px solid rgb(86 94 111);
  background: none;
  color: rgb(86 94 111);
}

.cart-pg_item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.01em solid #00000040;
  padding-bottom: 51px;
  margin-bottom: 51px;
}

.cart-item_qty {
  width: 17%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item_qty span {
  font-size: 25px;
  cursor: pointer;
}

.cart-item_qty span:hover {
  color:  rgb(0 0 0 / 50%);
}

.cart-item_qty input {
  pointer-events: none;
  border: 0.01em solid rgb(0 0 0 / 38%);
  outline: none;
  width: 47px;
  height: 29px;
  text-align: center;
  font-family: inherit;
  border-radius: 2px;
}

.cart-pg_img img{
  width: 134px;
  height: 171px;
  object-fit: cover;
}

.cart-item_details {
  display: flex;
  flex-direction: column;
  height: 109px;
  justify-content: space-between;
}

.cart-item_details p:nth-of-type(1) {
  font-weight: 600; 
  width: 165px;
  cursor: pointer;
}
.cart-item_details p:nth-of-type(2) {
  font-weight: 300;
  position: relative;
  bottom: 13px;
}
.cart-item_details p:nth-of-type(3) {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  color: rgb(0 0 0 / 66%);
}

.cart-item_details p:nth-of-type(3):hover {
  color: rgb(0 0 0);
}

.cart-item_del {

}

.cart-pg_side div:nth-of-type(1) {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* BannerSlider */

.slider-ctn {
  position: relative;
  height: 115vh;
  width: 99vw;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: opacity ease-in-out 0.4s;
  opacity: 0;
}

.active-anim {
  opacity: 1;
}

.slider img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
}


.container-dots {
  position: relative;
  top: 90%;
  left: 46%;
  display: flex;
}

.dot {
  cursor: pointer;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  border: 2px solid #fdfdfd;
  margin: 0 5px;
  transition: all .2s ease-in-out;
}

.dot:hover {
  background: #212020;
  border: 0;
  width: 1em;
  height: 1em;
}

.dot.active {
  background: rgb(33 32 32 / 82%);
  border: 0;
  width: 1em;
  height: 1em;
}

.null {
  display: none;
}

.chamada, .chamada-sec {
  padding-bottom: 2px;
  cursor: pointer;
  font-weight: 400;
  font-family: 'Noto Sans JP';
  font-size: 1em;
  color: rgb(0 0 0 / 68%);
  top: 60%;
  width: 12vw;
  height: 7vh;
  position: relative;
  background-color: rgb(255 255 255 / 70%);
  left: 18%;
  border: 0;
  transition: all .5s ease-out;
}

.chamada {
  z-index: 2;
}

.chamada:hover {
  background-color: rgb(255 255 255);
}

.chamada-sec:hover {
  background-color: rgb(255 255 255);
}

.chamada-sec {
  left: 43%;
  top: 48%;
  width: 15%;
  height: 8%;
}

.chamada-sec a, .chamada a {
  color: inherit;
}

/* SliderBtn */

.slider-btn {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .5s ease;
}

.slider-btn:hover {
  background: rgb(0 0 0 / 18%);
}

.slider-btn img {
  width: 30%;
}

.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%)
}

.next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%)
}

/* FeaturedProducts */

.featured-products {
  margin-top: 10vh;
  width: auto;
  display: flex;
  padding: 28px;
  max-height: 170vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.list-collection {
  width: 65%;
  display: flex;
  justify-content: space-evenly;
}

.list-collection.active {
  color: #212020;
}

.list-collection span {
  font-weight: 600;
  font-size: 35px;
  cursor: pointer;
  color: #504948d7;
  width: 267px;
}

.products {
  margin: 9vh 0;
  height: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 95vw;
}

.products img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.products-btn {
  display: flex;
  width: 31px;
  justify-content: space-between;
}

.products-button {
  border-radius: 10px;
  background-color: #ada7a6;
  width: 10px;
  height: 10px;
  border: 0;
  cursor: pointer;
}

.products-button.active {
  background-color: var(--dark);
}

.product-preview {
  justify-content: center;
  display: flex;
  padding: 12px;
  width: 31%;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.product-content {
  max-height: 38%;
  width: 100%;
  height: 33%;
}

.product-content h3 {
  text-align: center;
  font-size: 0.9em;
  font-weight: 700;
}

.product-content p {
  text-align: center;
  margin: 5px 0 0 0;
  font-weight: 300;
  font-size: 0.9em;
}

/* Categories */

.categories-row {
  display: flex;
  max-height: 40vh;
  position: relative;
}

.label {
  background: rgb(255 255 255 / 72%);
  padding: 0 0 2px;
  position: absolute;
  left: 10%;
  top: 2vh;
  width: 59%;
  display: flex;
  justify-content: center;
}

.label span {
  color: #212020;
  font-weight: 300;
}

.categories {
  width: 55%;
  cursor: pointer;
  position: relative;
}

.categories img {
  border: 1px solid #fff;
  height: auto;
  width: 100%;
}

.categories-img {
  width: 100%
}

/* Arrivals */

.arrivals-ctn {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7vh;
}

.arrival {
  font-size: 38px;
  font-weight: 600;
  text-align: center;
}

.arrivals {
  padding: 4em 0 4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.arrivals img {
  height: 100%;
  position: relative;
  width: 99%;
  cursor: pointer;
  object-fit: cover;
}

.arrival-preview {
  justify-content: center;
  display: flex;
  padding: 12px;
  width: 30%;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 4px;
}

.arrival-content {
  padding: 1% 2%;
  height: 23%;
  border: 1px solid #00000029;
  width: 95%;
}

.arrival-content span {
  font-size: 0.9em;
  font-weight: 700;
}

.arrival-content p {
  font-weight: 300;
  font-size: 0.9em;
  padding: 0.1% 2%;
}

.arrivals-button {
  margin: 0 0 80px 0px;
  font-family: 'Noto Sans JP';
  width: 20vw;
  border: 1px solid #00000040;
  background: none;
  height: 6vh;
  font-weight: 500;
  cursor: pointer;
  font-size: 0.7em;
  transition: all 0.3s ease-out
}

.arrivals-button a {
  color: #212020;
  transition: all 0.3s ease-out
}

.arrivals-button:hover {
  background: rgb(128 128 128 / 20%);
}
.arrivals-button a:hover {
  color: #000;
}

/* Footer */

.footer {
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background: rgb(147 158 175 / 27%);
  display: flex;
  flex-direction: column;
}

.footer hr {
  border: 1px solid rgb(100 86 84 / 34%);
  width: 100%;
}

.main-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 17vh;
  padding: 3em 0;
}

.footer-links {
  display: flex;
  width: 46%;
  justify-content: space-between;
}

.links h3{
  padding: 0.5em 0;
  color: rgb(86 94 111);
}

.item-content ul li {
  letter-spacing: 0.3px;
  font-weight: 300;
  font-size: 0.8em;
  padding: 2px 0;
  cursor: pointer;
  transition: all 0.2s ease;
}

.item-content ul li:hover {
  color: var(--blue);
}

.footer-icons {
  padding: 8px 0 0;
  display: flex;
  flex-direction: column;
  color: rgb(86 94 111);
}

.newsletter {
  height: 61vh;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.form-newsletter {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  flex-direction: column;
  width: 100%;
}

.form-newsletter label {
  color: rgb(86 94 111);
  font-size: 15px;
  font-weight: 600;
}

.newsletter span {
  width: 88%;
  letter-spacing: 0.5px;
  font-weight: 300;
  font-size: 0.6em;
  padding: 0px 11px;
}

.newsletter-footer .checkbox {
  width: 15px;
  border-radius: 0;
}

.newsletter-footer {
  display: flex;
  width: 100%;
}

.newsletter-content {
  width: 19vw;
  margin-left: 19px;
}

.newsletter-email {
  width: 35vw;
  display: flex;
  justify-content: center;
  height: 100%;
}

.newsletter-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 41px;
}

.newsletter-title h3 {
  padding: 0.5em 0;
  color: rgb(86 94 111);
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.newsletter-title strong {
  font-size: 21px;
}

.newsletter-title p {
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  padding: 0;
  letter-spacing: 0;
  text-align: center;
}

.newsletter-email input {
  border-radius: 2px;
  border: 1px solid var(--blue);
  background: inherit;
  width: 94.5%;
  height: 4vh;
  padding: 7px;
}

.newsletter-email button {
  font-family: 'Noto Sans JP';
  width: 100%;
  border: 0;
  background: rgb(86 94 142 / 85%);
  height: 6vh;
  font-weight: 600;
  color: rgb(255 255 255);
  cursor: pointer;
  margin-top: 21px;
  transition: all .3s ease;
}

.newsletter-email button:hover {
  background: rgb(86 94 142 / 58%);
}

/* Product Details */

.product-details {
  display: flex;
  width: 95vw;
  margin: 74px 0;
  padding: 0 20px;
  justify-content: center;
}


.product-images {
  display: flex;
  width: 60%;
  padding: 12px 8px;
}

.product-description {
  display: flex;
  height: 99vh;
  padding: 12px 20px;
  width: 35%;
  flex-direction: column;
}



.main-image {
  width: 44vw;
  height: auto;
}

.main-image img {
  width: 100%;
  height: auto;
}

.image-carousel {
  margin: 0 4px;
  width: 12vw;
}

.image-carousel img {
  width: 103%;
  height: auto;
  cursor: pointer;
}

.main-content {
  position: relative;
  left: 15%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content h4 {
  font-weight: 300;
  padding: 0 26%;
  font-size: 1.5em;
}

.description {
  height: 44%;
  padding: 22px 0 0px;
}

.description hr {
  border: 0.1px solid rgb(0 0 0 / 85%);
}

.description h3 {
  margin: 21px 0 0;
  font-size: 0.9em;
}

.description p {
  font-weight: 300;
  font-size: 0.9em;
}

.product-container {
  width: 98.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.size-ctn {

}

.buy-purchase {
  height: 15vh;
}

.buy-purchase button {
  position: relative;
  cursor: pointer;
  border: 0;
  background: rgb(0 0 0 / 89%);
  color: white;
  width: 100%;
  top: 4vh;
  height: 6vh;
  transition: all .3s;
}

.buy-purchase button:hover {
  background-color: rgb(0 0 0);
}

.size H3{
  margin-bottom: 13px;
  font-size: 0.9em;
}

.size-chart {
  border-radius: 3px;
  outline: none;
  background: none;
  border: 0.01em solid;
  width: 99%;
  height: 6vh;
  padding: 0 14px;
  font-family: 'Noto Sans JP';
}

.size-chart div {
  border: 1px solid #000;
  height: 40px;
  margin: 8px 11px;
  width: 40px;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .3s ease;
}

.size-chart div:hover {
  background-color: #504948;
  color: white;
}

.size-chart div.active {
  background-color: #000;
  color: white;
}

/* Collections */

.content {
  display: flex;
  flex-direction: column;
}

.novidades {
  font-size: 53px;
  font-weight: 800;
  text-align: center;
  margin: 11vh 0 7vh;
}

.product-list {
  padding: 3em 0 4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.product-list img {
  height: 100%;
  position: relative;
  width: 99%;
  cursor: pointer;
  object-fit: cover;
}

.toggle-menu {
  display: flex;
  position: fixed;
  z-index: 5;
  background: white;
  width: 99vw;
  height: 101vh;
  top: 0;
  left: 0;
}

.fadeIn {
  animation: fadeInAnimation .5s;
}

@keyframes fadeInAnimation {
  from { opacity: 0; }
  to {opacity:  1;}
}

.toggle-menu_login {
  background: rgb(86 94 111);
  color: white;
  border: 0;
  padding: 16px;
  position: relative;
  top: 30px;
  font-family: inherit;
  width: 140px;
  font-weight: 500;
  font-size: 16px;
}

.toggle-menu ul {
  width: 69%;
  padding: 57px;
}

.toggle-menu ul li {
  margin-top: 14px;
  width: 15vw;
}

.close-menu {
  padding: 57px 0;
  width: 32%;
}

.close-menu span {
  font-size: 19px;
  font-family: 'Noto Sans JP';
  color: rgb(0 0 0 / 61%);
  cursor: pointer;
}

.toggle-menu_items {
  color: #000;
  display: flex;
  flex-direction: column;
}

.toggle-menu_dropdown {
  color: rgb(0 0 0 / 50%);
}

.toggle-menu_dropdown:hover {
  color: rgb(0 0 0 / 80%);
}

/* Search Container  */

.search-ctn {
  padding: 30px 60px;
  position: fixed;
  z-index: 5;
  width: 91vw;
  height: 70vh;
  background: white;
  left: 0;
  top: 0;
  animation: slideDown .1s;
}

@keyframes slideDown {
  0% {height: 0vh;}
  15% {height: 5vh;}
  30% {height: 10vh}
  50% {height: 15vh;}
  75% {height: 20vh;}
  100% {height: 25vh;}
}

.search-ctn_display {
  display: flex;
  height: 48vh;
  background: white;
  overflow-y: auto;
  margin-top: 20px;
}

.search-ctn_display img {
  width: 180px;
}

.search-display_item {
  width: 179px;
  margin: 0 38px 0 0;
}

.search-display_item p:nth-of-type(1) {
  font-size: 14px;
  font-weight: 600;
}

.search-display_item p:nth-of-type(2) {
  color: rgb(0 0 0 / 60%);
}

.search-ctn h4 {
  position: relative;
  left: 83vw;
  cursor: pointer;
}

.search-ctn h5 {
  margin-bottom: 27px;
  font-size: 11px;
  color: rgb(0 0 0 / 40%);
}

.search-ctn input {
  font-family: inherit;
  outline: none;
  width: 100%;
  height: 16%;
  border: 0;
  font-size: 32px;
  border-bottom: 0.01em solid rgb(0 0 0 / 20%);
}

.search-ctn input::placeholder {
  font-weight: 900;
  font-size: 32px;
  color: rgb(0 0 0 / 40%);
}

.back:before {
  content: "";
  background: #000;
  width: 100%;
  height: 99vh;
  position: fixed;
  z-index: 1;
  opacity: .5;
  top: 0;
  left: 0;
}

.side-cart_ctn {
  display: none;
}


/* Media Query */

@media screen and (max-width: 2244px) {
  .slider-ctn {
    height: 121vh;
  }
}

@media screen and (max-width: 992px) {

  /* Banner */

  .slider-ctn {
    height: 71vh;
  }

  /* NavBar */

  .navbar hr {
    bottom: 10px;
  }

  .navbar p {
    bottom: 6px;
  }

  .navbar nav {
    height: 5em;
  }

  .navbar_main {
    height: 6vh;
    margin-bottom: 0;
    padding-top: 6px;
  }

  .nav-content {
    width:  7%;
  }

  .nav-content .toggle-nav_login, .navbar-list {
    display: none;
  }

  .fa-shopping-bag {
    font-size: 25px;
    pointer-events: initial;
  }

  .cart {
    top:  50px;
  }

  .nav-header {
    position: relative;
    bottom: 13px;
  }

  .nav-header_title {
  }

  .nav-header_search {
    display: flex;
    width: 80px;
    justify-content: space-around;
    align-items: baseline;
  }

  .hamb-icon {
    display: block;
    cursor: pointer;
  }

  .fa-bars {
    font-size: 26px;
    color: #000;
    transition: all .5s ease;
  }

  .fa-bars:hover {
    color: rgb(0 0 0 / 50%);
  }

  /* Product Details */

  .product-details {
    flex-direction: column;
    align-items: center;
  }

  .product-images, .product-description {
    width: 95%;
  }

  .main-image {
    width: 63vw;
  }

  .image-carousel {
    width: 24vw;
  }

  /*  Floating Cart */

  .cart {
    display: none;
  }

  /* Side Cart */

  .back-transparency:before {
    content: "";
    background: #000;
    width: 100%;
    height: 99vh;
    position: fixed;
    z-index: 1;
    opacity: .5;
    top: 0;
    left: 0;
  }

  .side-cart_ctn {
    padding: 16px 41px;
    z-index: 1;
    display: block;
    background: white;
    width: 389px;
    position: fixed;
    height: 93vh;
    right: 0;
    top: 0px;
    animation: slideLeft .2s;
  }

  .side-cart_close {
    cursor: pointer;
  }

  @keyframes slideLeft {
    0% {width: 0px;}
    15% {width: 50px;}
    30% {width: 100px}
    50% {width: 150px;}
    65% {width: 200px;}
    80% {width: 250px;}
    95% {width: 300px;}
    100% {width: 389px;}
  }

  .side-cart_empty {
    padding: 62px 0;
  }

  .side-cart_empty h3 {
    font-weight: 400;
    font-size: 24px;
  }

  .side-cart_items {
    height: 68vh;
    overflow-y: auto;
  }

  .side-cart_item {
    padding: 8px 0 22px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 0.01em solid rgb(0 0 0 / 10%);
    margin-bottom: 14px;
  }

  .side-cart_item img {
    width: 100px;
    cursor: pointer;
  }

  .side-cart_remove {
    position: relative;
    right: 23px;
    cursor: pointer;
  }

  .side-cart_itemDetails {
    width: 165px;
    position: relative;
    right: 34px;
    top: 18px;
  }

  .side-cart_itemDetails p {
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
  }

  .side-cart_itemDetails span:nth-of-type(1){
    font-size: 14px;
    color: rgb(0 0 0 / 60%);
  }

  .side-cart_itemDetails span:nth-of-type(2) {
    font-weight: 500;
    margin-left: 4px;
    font-size: 14px;
  }

  .side-cart_itemDetails span:nth-of-type(2):hover {
    color:  #000;
  }

  .side-cart_total {
    margin-top: 21px;
    display: flex;
    height: 20%;
    border-top: 0.15em solid;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .side-cart_totalValue {
    display: flex;
    justify-content: space-between;
  }

  .side-cart_totalValue span {
    font-size: 18px;
    font-weight: 600;
  }

  .side-cart_totalValue span:nth-of-type(2) {
    color: rgb(0 0 0 / 70%);
  }

  .side-cart_total span:hover {
    color: #000;
  } 

  .side-cart_buttons {
    display: flex;
    justify-content: space-between;
  }

  .side-cart_buttons button {
    border: 0;
    width: 186px;
    height: 50px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
  }

  .side-cart_buttons .side-cart_goTo {
    background: none;
    color: rgb(86 94 111);
    border: 2px solid rgb(86 94 111);
  }

  .side-cart_buttons .side-cart_checkout {
    background: rgb(86 94 111);
    color: white;
  }

}

@media screen and (max-width: 767.98px) {

  /* Banner */

  .slider-ctn {
    height: 55vh;
  }

  .categories-row {
    flex-direction: column;
    max-height: 225vh;
  }

  .categories {
    width: 99vw;
    max-height: 79vh;
  }

  .categories img {
    height: 55vh;
    width: 100%;
    object-fit: cover;
  }

  /* Featured Products */

  .list-collection {
    width: 105%;
  }

  .products {
    justify-content: center;
  }

  .product-preview {
    width: 46%;
  }

  .products-btn {
    width: 48px;
  }

  .products-button {
    background: none;
  }

  .products-button.active {
    background: none;
  }

  .fa-chevron-left, .fa-chevron-right {
    font-size: 17px;
    transition: color .3s ease;
  }

  .fa-chevron-left:hover, .fa-chevron-right:hover {
    color: #a1acd8;
  }

  .fa-chevron-right:active, .fa-chevron-left:active {
    color: rgb(94, 92, 92); 
  }

  .arrival-preview {
    width: 38%;
  }

  /* Search Bar  */

  .search-ctn {
    width: 83vw;
  }

  .search-ctn h4 {
    left:  76vw;
  }

  /* Footer */

  .newsletter-email {
    width: 51vw;
  }

  .footer-links {
    width: 58%;
  }

}

@media screen and (max-width: 575px) {
  
  /* Banner */
  
  .slider-ctn {
    height: 45vh;
  }

  .dot {
    width: 0.5em;
    height: 0.5em;
  }

  .dot.active {
    width: 0.7em;
    height: 0.7em;
  }

  .dot:hover {
    width: 0.7em;
    height: 0.7em;
  }

  .container-dots {
    left: 35%;
  }

  /* Featured Products */

  .product-preview {
    width: 92%;
  }

  .arrival-preview {
    width: 43%;
  }

  .footer-links {
    width: 85%;
  }

  /* Search Bar  */

  .search-ctn {
    width: 77vw;
  }

  .search-ctn h4 {
    left: 67vw;
  }
}


@media screen and (max-width: 472px) {
  .slider-ctn {
    height: 30vh;
  }

  .arrival-preview {
    width: 77%;
  }

  .newsletter-email {
    width: 71vw;
  }

  .footer {
    height: 147vh;
  }

  .main-footer {
    height: 71vh;
    width: 40%;
    padding-top: 0;
  }

  .footer-links {
    flex-direction: column;
  }

  /* Search Bar  */

  .search-ctn {
    width: 71vw;
  }

  .search-ctn h4 {
    left: 56vw;
  }

  .search-ctn input::placeholder {
    font-size: 22px;
  }

  .nav-header_title {
    font-size: 35px;
    position: relative;
    right: 21px;
  }

  .nav-header {
    align-items: baseline;
  }

  .nav-header_search {
    align-items: center;
  }

  /* Side Cart  */

  .side-cart_ctn {
    width: 315px;
    padding: 16px 24px;
  }

  .side-cart_itemDetails {
    right: 8px;
    top: 5px;
  }


  .side-cart_buttons button {
    width: 143px;
  }

  .list-collection {
    flex-direction: column;
    width: 62%;
  }
}

@media screen and (max-width: 400px) {

  /* Side Cart  */

  .fa-shopping-bag {
    position: relative;
    right: 12px;
  }

  .side-cart_ctn {
    width: 234px;
  }

  .side-cart_itemDetails {
    width: 93px;
    right: 15px;
  }

  .side-cart_itemDetails p {
    font-size: 14px;
  }

  .side-cart_buttons button {
    width: 100px;
  }

  .side-cart_item img {
    width: 78px;
  }

  .list-collection {
    width: 91%;
  }
} 

@media screen and (max-width: 380px) {
  .nav-header_title {
    font-size: 28px;
  }
}

@media screen and (max-width: 300px) {
  .nav-header_title {
    font-size: 20px;
  }

  .nav-header_search {
    justify-content: space-evenly;
    position: relative;
    right: 11px;
  }

  .list-collection {
    width: 106%;
  }

  /* Search Bar  */

  .search-ctn {
    width: 79vw;
    padding: 30px 24px;
  }
}
